body {
    margin: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
}

header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: darkgray;
    align-items: center;
    padding-left: 16px;
    height: 10vh;
}

header > form > input {
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
}

.books {
    display: grid;
    overflow: auto;
    height: calc(90vh - 40px);
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.book {
    border: solid black 5px;
    border-radius: 10px;
    min-height: 100px;
    max-height: 250px;
    padding-top: 8px;
    font-size: 20px;
    text-align: center;
}

.addBook{
    display: flex;
    justify-content: center;
    padding: 8px;
}
.addBook > button {
    font-size: larger;
    font-weight: bolder;
}

.submit-book {
    text-align: right; 
    position: absolute;
    justify-self: center;
    width: 275px;
    transform: translate(0, 150vh);
    transition-duration: 500ms;
}

.formButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.submit-book.active {
    border: solid black 5px;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(0, 50%);
    transition-duration: 500ms;

}

.title {
    font-style: italic;
    font-size: 30px;
}
